html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  text-align: center;
  background-image: url("../Images/Confeti.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* Estilos para el navbar */
.topnav {
  position: relative;
  background-color: #262469;
  overflow: hidden;
}

/* Estilo de los botones y texto*/
.topnav a {
  float: left;
  background-color: #e9b72c;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #cba028;
  color: whitesmoke;
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
#registroBtn {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #e9b72c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registroBtn:hover {
  background-color: #cba028;
}

#rickrollContainer,
#BadAppleContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1000;
}

#rickrollVideo,
#BadAppleVideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.parrafo {
  font-size: 20px;
  font: sans-serif;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  text-align: center;
  margin: 20px;
}
.InputContainer {
  font-size: 1em;
  font: sans-serif;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  margin: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #262469;
}
.footer-content {
  font-size: smaller;
  line-height: 1px;
  color: white;
  text-align: left;
  padding-left: 20px;
}
.Desarrollado {
  text-align: right;
  padding-right: 20px;
}
.Titulo {
  font-size: 3em;
  font: sans-serif;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  margin: 20px;
  text-align: center;
}
