/* Estilos generales */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Estilos para el navbar */
.topnav {
  position: relative;
  background-color: #262469;
  overflow: hidden;
}

/* Estilo de los botones y texto*/
.topnav a {
  float: left;
  background-color: #e9b72c;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #cba028;
  color: whitesmoke;
}

.topnav-right {
  float: right;
}

.Home {
  float: left;
}

#miCarrusel {
  flex: 1;
  width: 100%;
  position: relative;
  height: 129px; /* Altura fija para el contenedor del carrusel */
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-img {
  max-height: 1290px;
  width: auto;
  max-width: 100%;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block;
}
/* Estilos para las captions */
.carousel-caption {
  bottom: 30%;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.footer {
  background-color: #262469;
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px 0;
  height: auto;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
    text-align: left;
  }

  .Home {
    float: none;
  }

  .topnav-right {
    float: none;
  }
}

@media (max-width: 768px) {
  .carousel-caption h2 {
    font-size: 1.8rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption {
    bottom: 20%;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    bottom: 10%;
    padding: 10px;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }
}
