.topnav {
    position: relative;
    background-color: #0d089c;
    overflow: hidden;
}

/* Estilo de los botones y texto*/
.topnav a {

    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Cambia el color de los botons al poner el mouse encima */
.topnav a:hover {
    background-color: #0a0763;
    color: white;
}
.topnav-right{
    float: right;
}
/* Centra la seccion en el navbar*/
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}